@import "../reindeer/styles.css";

.v-theme-version:after {content:"6_7_9";}
.v-theme-version-1_0 {display: none;}

/*.v-menubar-menuitem-caption{
	font-weight:bold;
}*/


.app {
	font-weight: bold;
}
