@import "../reindeer/styles.css";

.v-theme-version:after {
	content: "6_7_9";
}

.v-theme-version-1_0 {
	display: none;
}

.app {
	font-weight: bold;
	font-size: 160%
}

.sidebar {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 5px;
	margin-left: 0px;
}

.principles_vp-panel-name {
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 3px;
}

.command .v-button-caption {
	font-size: 80%;
}

.principles_vp-panel-desc {
	font-size: 110%;
	margin-bottom: 3px;
}

.principles_vp-panel {
	padding: 3px;
	margin-bottom: 5px;
}

.comment {
	font-style: italic;
	font-size: 90%;
}

.v-textarea .v-richtextarea .gwt-RichTextArea {
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif !important;
	font-size: medium !important;
}

.v-table-cell-wrapper { /* Required to allow multi-lines */
	white-space: normal;
}

.v-nativebutton-borderless {
	border: none;
	background: transparent;
}

--------
General


 


setting